
.Overview {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  max-width: 920px;
  min-width: 400px;
  padding: 0 0 120px 0;

  h1 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: 500;
  }

  .info {
    line-height: 40px;
    font-size: 16px;
    padding: 0 10px;

    b {
      color: #002762;
      font-weight: 500;
    }
  }

  .empty {
    padding: 10px;
  }

  .log {
    margin: 0 0 18px 0;


    .box {
      display: inline-flex;
      align-items: center;
      background: #eef8fd;
      border-radius: 18px;
      padding: 8px 14px;
      margin: 12px 12px 12px 0;
      font-size: 16px;
      min-height: 38px;
      color: #0b2959;
    }

    .border {
      background: #ffffff;
      color: #0b2959;
      border: 1px solid #0b2959;
      padding: 7px 13px;
    }
  }

}
