
.Overview {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  max-width: 920px;
  min-width: 400px;
  padding: 0 0 120px 0;

  h1 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: 500;
  }

  .info {
    line-height: 40px;
    font-size: 16px;
    padding: 0 10px;

    b {
      color: #002762;
      font-weight: 500;
    }
  }

  .logs {
    padding: 10px;

    .empty {
    }

    .log {
      margin: 0 0 18px 0;


      .box {
        display: inline-flex;
        align-items: center;
        background: #eef8fd;
        border-radius: 18px;
        padding: 8px 14px;
        margin: 12px 12px 12px 0;
        font-size: 16px;
        min-height: 38px;
        color: #0b2959;
      }

      .important {

        .icon {
          margin: -4px;
          transform: translateY(-1px);
        }

        .text {
          width: auto;
          max-width: 0;
          overflow: hidden;
          transition: all 0.16s ease-in-out;
          margin-left: 0;
          transform: scaleX(0.7);
        }
      }

      .important:hover {

        .text {
          margin-left: 8px;
          max-width: 150px;
          transform: scaleX(1);
        }
      }

      .border {
        background: #ffffff;
        color: #0b2959;
        border: 1px solid #0b2959;
        padding: 7px 13px;
      }

      .tags {
        display: flex;

        .space {
          flex-grow: 1;
        }
      }
    }
  }

  .pageButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px 4px 4px 4px;

    --md-sys-color-primary: #2c4b8d;

    md-filled-tonal-button {
      padding: 0 16px;
      margin: 6px;
    }

    md-outlined-button {
      padding: 0 16px;
      margin: 6px;
    }
  }

}
