
.Show {
  display: flex;
  width: 100%;
  height: 100%;
  background: #ffffff;

  .leftBar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 280px;
    min-width: 280px;
    background: #f3f6fc;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    overflow-y: auto;
    overflow-x: hidden;

    .title {
      font-size: 34px;
      margin: 32px 0 8px 0;
      text-align: center;
      cursor: pointer;
    }

    .subtitle {
      font-size: 18px;
      margin: 8px 0 48px 0;
      text-align: center;
      color: #002441;
      cursor: pointer;
    }

    .item {
      display: flex;
      align-items: center;
      height: 52px;
      padding: 0 18px 0 26px;
      margin: 0 8px;
      font-size: 14px;

      span:nth-child(3) {
        font-size: 14px;
        font-weight: 100;
      }
    }

    .button {
      display: flex;
      margin: 14px;
      height: 60px;
      align-items: center;
      padding: 0 16px;
      border: 1px solid #747775;
      color: #444746;
      border-radius: 1000000px;
      cursor: pointer;
      transition: background-color 0.12s ease-in-out;
    }

    .button:hover {
      background: #44444411;
    }

    .button:active {
      background: #44444422;
    }
  }

  .holder {
    flex-grow: 1000000;
    margin: 12px 4px 12px 12px;
    max-width: 1280px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;

    .img {
      width: 100%;
      height: 500px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 32px;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: absolute;
        top: 30px;
        bottom: 30px;
        left: 80px;
        right: 80px;

        border-radius: 22px;
        overflow: hidden;

        .title {
          font-size: 112px;
          color: #121212;
        }

        .session {
          font-size: 24px;
          color: #121212;
          margin: 6px 26px 0 6px;
        }
      }
    }

    .topBar {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f6f8fb;
      border-radius: 1000000px;
      margin-top: 12px;

      .item {
        flex-grow: 1;
        padding: 28px;
        font-size: 15px;
        text-align: center;
      }
    }

    .main {

      .message {
        margin: 40px 0;

        .info {
          display: flex;
          align-items: center;
          margin-bottom: 6px;

          .item {
            display: flex;
            flex-direction: column;
            align-items: center;

            background: #eef8fd;
            padding: 8px;
            border-radius: 22px;
            margin-right: 6px;

            img {
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 14px;
            }

            span {
              font-size: 12px;
              background: #ffffff;
              width: 52px;
              height: 20px;
              text-align: center;
              line-height: 20px;
              border-radius: 10px;
              margin-top: 6px;
            }
          }

          .from {
            border-radius: 22px 22px 22px 12px
          }

          .between {
            display: flex;
            align-items: center;
            background: #eef8fd;
            border-radius: 22px;
            padding: 14px 14px;
            margin-right: 6px;
            font-size: 14px;
            color: #002441;

            span {
              margin: 0 6px;
            }
          }

          .to {
            //border-radius: 12px 32px 32px 12px;
          }
        }

        .text {
          background: #eef8fd;
          padding: 20px;
          font-size: 15px;
          line-height: 32px;
          border-radius: 12px 32px 32px 32px;
        }
      }
    }
  }

  .selectable {
    color: #323434;
    border-radius: 1000000px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.12s ease-in-out;

    span:nth-child(3) {
      color: #464949;
    }
  }

  .selectable:hover {
    background: #e5eaee;
  }

  .selectable:active {
    background: #d9dee1;
  }

  .selectableSelected {
    background: #c9e5f6;
    color: #002441;

    span:nth-child(3) {
      color: #0c3c64;
    }
  }

  .selectableSelected:hover {
    background: #c4dded;
  }

  .selectableSelected:active {
    background: #b5cddc;
  }

  .space {
    flex-grow: 1;
  }
}
