
.Start {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 600px;
  min-width: 400px;
  padding: 0 0 140px 0;

  h1 {
    margin-bottom: 40px;
    margin-top: 120px;
    font-size: 38px;
    font-weight: 500;
  }

  md-filled-text-field {
    margin-bottom: 20px;
  }

  .fieldLine {
    display: flex;
    overflow: hidden;

    .space {
      flex-grow: 1;
    }

    md-filled-text-field {
      flex-grow: 1;
      margin-left: 20px;
    }

    *:nth-child(1) {
      margin-left: 0;
    }
  }

  .copyLine {
    display: flex;
    height: 88px;
    margin: -6px 0 -8px;
    transition: all 0.16s ease-in-out;
    overflow: hidden;
    align-items: center;

    md-filled-text-field {
      flex-grow: 5;
    }

    *:nth-child(2) {
      margin-left: 20px;
      flex-grow: 1;
      flex-basis: 160px;
    }
  }

  .checkboxLine {
    height: 30px;
    display: flex;
    padding-left: 4px;
    align-items: center;
    margin-bottom: 20px;
    color: #333333;

    label {
      margin-left: 14px;
      cursor: pointer;
      color: #333333;
      transition: all 0.12s ease-in-out;
    }
  }

  .checkboxLine:hover {

    label {
      color: #000000;
    }
  }

  .line {
    height: 50px;
    display: flex;
    margin-bottom: 40px;

    .space {
      flex-grow: 1;
    }

    *:nth-child(2) {
      margin-left: 20px;
    }

    md-text-button {
      padding: 0 20px;
    }

    md-filled-tonal-button {
      padding: 0 32px;
    }
  }

  .buttons {
    margin: -20px -10px -10px -10px;

    div {
      width: 100%;
      height: 100px;
      background: #f5f7fa;
      overflow: hidden;
      margin: 10px;
      border-radius: 32px;
      user-select: none;
      transition: all 0.12s ease-in-out;
      position: relative;
      cursor: pointer;

      h1 {
        font-size: 18px;
        font-weight: 500;
        margin: 24px;
        color: #444746;
        height: 30px;
        display: flex;
        align-items: center;
        transition: all 0.12s ease-in-out;
      }

      span {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
      }

      p {
        margin: 0 27px;
        font-size: 24px;
        font-weight: 500;
        color: #1f1f1f;
        transition: all 0.12s ease-in-out;
      }
    }

    div:hover {
      background: #c2e7ff;

      h1 {
        color: #1f1f1f;
      }

      p {
        color: #000000;
      }
    }

    div:active {
      background: #b9e0f8;
    }
  }

}
