
.RelationTable {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;

  .holder {
    position: absolute;

    .horizontalKeys {
      position: absolute;
      display: inline-block;

      .key {
        position: absolute;
        display: inline-block;
        transform: rotate(270deg);
        padding-left: 12px;
        vertical-align: center;
        transition: all 0.12s ease-in-out;
      }

      .key:hover {
        font-size: 17px;
        font-weight: 600;
      }
    }

    .verticalKeys {
      position: absolute;
      display: inline-block;

      .key {
        position: absolute;
        display: inline-block;
        text-align: right;
        padding-right: 12px;
        vertical-align: center;
        transition: all 0.12s ease-in-out;
      }

      .key:hover {
        font-size: 17px;
        font-weight: 600;
      }
    }

    .table {
      position: absolute;

      .item {
        position: absolute;
        vertical-align: center;
        text-align: center;
        background: #072c67;
        font-size: 15px;
        border: 0 solid #00000055;
        transition: all 0.12s ease-in-out;
      }

      .item:hover {
        font-size: 18px;
        font-weight: 600;
        border: 1px solid #00000055;
      }
    }
  }

}
